header{
    width: 100%;
    
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 2px solid $brown-light;
}

i{
    color: $white-normal;
}

.header-icons{
    display: flex;
    gap: 35px;
    
    
}

.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $brown-light;

    h1{
        font-size: 35px;
        font-family: 'Antic Didone', serif;
    }
}

.header-buttons {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $red-light; 
    }
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button{
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 20px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover {
    border: 1px solid $primary-normal;
    background-color: $primary-normal;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;

    img {
        height: 150px;
        padding: 25px;
    }
    
}

@media screen and (max-width: 720px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    i{
        margin-top: 16px;
        font-size: 34px;
    }


    .header-logo img{
        width: 160px;
        margin-top: 46px;
    }

    .header-button{
        display: none;
    }


}