* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: #f4eadd;
  border-bottom: 2px solid #f4eadd;
}

i {
  color: #fff;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  height: 150px;
  width: 150px;
}
.header-icons i {
  color: #d4a373;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d4a373;
}
.header-title h1 {
  font-size: 52px;
  font-family: "Monomakh", sans-serif;
  font-weight: 500;
}
.header-title h3 {
  font-size: 26px;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 450;
}

.header-buttons {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d4a373;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #d4a373;
  background-color: #d4a373;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}
.header-logo img {
  height: 150px;
  padding: 25px;
}

@media screen and (max-width: 720px) {
  .header-content {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
  }
  i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    height: 130px;
  }
  .header-button {
    display: none;
  }
  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-title h1 {
    font-size: 18px;
  }
  .header-title h3 {
    font-size: 14px;
    text-align: center;
  }
  .header-icons {
    gap: 10px;
  }
  .header-icons i {
    height: 10px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
  overflow: hidden;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #d4a373), url("../assets/nImages/imagem1.jpeg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 30px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  color: #d4a373;
  background-color: #f4eadd;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 20px;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 720px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 26px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.section1 {
  background-color: #f4eadd;
  overflow: hidden;
  color: #161617;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: right;
  min-height: 500px;
  width: 100%;
}
.section1 .left {
  font-size: 25px;
  font-weight: 400;
  height: 100%;
  width: 40%;
  margin: 50px 0 50px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.section1 .left .section1-title {
  width: 200px;
  text-align: right;
  color: #d4a373;
  font-family: "Crimson Text", serif;
  font-weight: 800;
  font-style: bold;
}
.section1 .right {
  font-size: 25px;
  font-weight: 400;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.section2 {
  padding: 20px;
  background-color: #f4eadd;
  overflow: hidden;
  color: #161617;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 0px 14px 0px 14px;
  height: auto;
  width: auto;
  overflow: hidden;
}

.section-content div {
  flex: 1;
}

.section-description .section-description-title {
  color: #a67c52;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.section-description p {
  font-size: 25px;
  margin-bottom: 14px;
  line-height: 150%;
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: justify;
}
.section-description .lista {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
}
.section-description .lista li {
  font-size: 20px;
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .section1 {
    flex-direction: column;
    align-items: center;
  }
  .section1 .left {
    display: none;
  }
  .section1 .right {
    width: 100%;
    margin: 50px 14px 14px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container.section-content {
    flex-direction: column;
  }
  .section-description .section-description-title {
    font-size: 26px;
  }
  .section-description p {
    font-size: 15px;
    margin-bottom: 7px;
    line-height: 150%;
  }
  .section-description .lista li {
    font-size: 14px;
  }
}
.sectionSobre {
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #f4eadd;
}

.sectionSobre-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
  height: auto;
  overflow: hidden;
}
.sectionSobre-content .sectionSobre-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionSobre-content img {
  max-width: 450px;
}

.sectionSobre-content div {
  flex: 1;
  color: #000000;
}

.sectionSobre-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sectionSobre-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
  color: #a67c52;
}
.sectionSobre-description p {
  font-size: 20px;
  margin-bottom: 14px;
  line-height: 150%;
  max-width: 720px;
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: justify;
}
.sectionSobre-description .bold {
  font-weight: 600;
  font-family: "Monomakh", sans-serif;
}

.button-contact-about {
  padding: 14px 28px;
  color: #f4eadd;
  background-color: #a67c52;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 20px;
}

.button-contact-anout:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@media screen and (max-width: 768px) {
  .sectionSobre-content {
    flex-direction: column;
  }
  .sectionSobre-description {
    align-items: center;
    text-align: center;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #8c6239;
  background-color: #f4eadd;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #8c6239;
}
.footer-icons i {
  color: #8c6239;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6x;
  border-radius: 8px;
  background-color: #232224;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-widht: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #d4a373;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */